<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoel.services.mappers.GuestbookMapper">
  <select id="selectGuestbook" parameterType="long" resultType="Guestbook">
    select * from guestbook
    <if test='id != null'> 
    	WHERE id = #{id}
    </if>    
  </select>
  
  <insert id="createGuestbook" parameterType="Guestbook" useGeneratedKeys="true" keyProperty="id">
  	INSERT INTO guestbook (body, email, password, createdDate, modifiedDate)
  		VALUES (#{body}, #{email}, #{password}, #{createdDate}, #{modifiedDate})
  </insert>
</mapper>